.contact {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.card {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 0 0 0 2px rgba(174, 177, 180, 0.8);

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.cardHead {
  display: block;
  width: 90%;
  justify-content: center;
}

.title {
  text-align: center;
}
.btnHolder {
  background: blue;
}
.openIcon {
  cursor: pointer;
  color: #007bff;
  margin-left: 10px;
}

.deleteIcon {
  cursor: pointer;
  color: red;
  float: right;
}
